.smoothscroll{ 
    scroll-behavior: smooth; 
} 

.intro-section p{
    font-weight: bold;
}

.counter .counter-text strong{
    font-size: 1rem;
    line-height: 1.0;
    margin-bottom: 0;
}

.counter .counter-text span{
    font-size: 0.8rem;
}

.site-section {
    padding: 5em 0 5em 0;
}

.about-image{
    padding: 8em 0 0 0;
}

.image-absolute-box .box {
    top: 0%;
}

/* .mb-5, .my-5 {
    margin-bottom: 0rem!important;
} */

.skills-row {
    text-align:center;
    padding: 1em 0 1.2em 0;
    font-size: 1.5rem;
}

.skills-title{
    margin: 0px;
    padding: 0px;
    height: 0px;
}