.smoothscroll{ 
    scroll-behavior: smooth; 
} 

.intro-section p{
    font-weight: bold;
}

.counter .counter-text strong{
    font-size: 1.2rem;
    line-height: 1.0;
    margin-bottom: 0;
}

.counter .counter-text span{
    font-size: 0.95rem;
}

.counter{
    margin-left: 15px;
}

.site-section {
    padding: 5em 0 5em 0;
}

.about-image{
    padding: 8em 0 0 0;
}

.image-absolute-box .box {
    top: 0%;
}

.skills-row {
    text-align:center;
    padding: 1em 0 1.2em 0;
    font-size: 1.5rem;
}

.skills-title{
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.counter .counter-text .highlight-date{
    font-size: 13px;
    vertical-align:text-top;
}

.col-md-4, .col-md-3{
    flex: 0 0 50%;
    max-width: 50%;
}


.footer-section h3{
    font-size: 20px;
    padding-left: 100px;
}

.footer-section p{
    font-size: 20px;
    padding-left: 100px;
}

.footer-section .footer-links li{
    font-size: 20px;
    padding-left: 100px;
}

.card1 {
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -35px;
  right: -16px;
  background: #007bff;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.card1:hover:before {
  -webkit-transform: scale(8);
          transform: scale(8);
}

.card1:hover{
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);  
}

.card2:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    padding: 10px;
    background-color: white;
    width:100%;
    margin-bottom:28px!important;
  }

.site-section .container .row .col-lg-4 img{
    margin-bottom: 20px;
    object-position: -5px;
}

.site-section .container .row .col-lg-4 .hidden-p{
    position: absolute;
    text-align: right;
    padding-right:10px;
    left:0;
    right:0;
    color: white;
}

.pl-5, .px-5{
    padding-left:1.5rem!important;
    padding-right:1.5rem!important;
    margin-right: 17px;
    margin-top: 10px;
}

/* .site-section .container .row .col-lg-4 .card1:hover img{
    display: none;
} */